agno==1.6.0
docstring_parser==0.16
docx2txt==0.9
fastapi==0.115.12
groq==0.27.0
lxml==5.4.0
openai==1.86.0
pdfminer.six==20191110
protobuf==5.29.5
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
pymongo==4.13.1
pypdf==5.6.0
python-docx==1.1.2
python-dotenv==1.1.0
PyYAML==6.0.2
qdrant-client==1.14.2
referencing==0.36.2
requests==2.32.4
requests-oauthlib==2.0.0
textract==1.6.5
uvicorn==0.34.3
wikipedia==1.4.0

