name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Clean pip cache
      run: |
        pip cache purge || true
    - name: Remove __pycache__ directories
      run: |
        find . -type d -name "__pycache__" -exec rm -rf {} +
    - name: Pull Docker image
      run: sudo docker pull sharath1036/document-agent:latest
    - name: Delete Old docker container
      run: sudo docker rm -f document-agent-container || true
    - name: Run Docker Container
      run: sudo docker run -d -p 8080:8080 --name document-agent-container sharath1036/document-agent
